
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .accueil img{
        width:80%;
    }
	#info_commentaire {
		width: 500px;
	}
	#fiche-commentaire {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.commentaire {
		width: 100%;
		margin: 0px 0px 50px 0px !important;
	}
}

@media screen and (max-width: 767px) {
	
	button {
		width: auto !important;
		height: auto !important;
	}

	h1{
	font-size:1.4em;
	}

	#form_login, #form_signup{
	width:90%;
	}

	input{
	width:80%;
	}
        
	.header{
	display:flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
            
	}
	#profil-button {
	display: flex;
	justify-content: center;
	align-items: center;
	}

	.accueil img{
	width:300px;
	}

	.logout{
	width:200px;
	}
	.accueil {
	width: 300px;
	}
	#fiche-commentaire {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	}
	

	.cadre{
		 width:95%;
	 }

	#new-message {
	  width: 95%;
	}

	#title-message, #imageUrl, #img-update-message {
		width: 85%;
		height:auto;
	}

	#page-network{
		margin-left:0;
		margin-right:0;
		text-align:center;
	}
	.message {
		width:95%;
		font-size:0.9em;
	}
	.zone_title, #titre-single-message{
		font-size: 1.2em;
	}
	#texte-single-message{
		font-size: 0.9em;
	}

	.commentaire{
		font-size:0.8em;

	}
	#ajout-post{
		margin-left:0;
	}

	.image-network, #image-single-message img {
		max-width: 98%;
		max-height: 400px;
	}

	.menu-navigation{
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;

	}

	ul{
		padding-left: 0em;
	}

	.nav-menu{
		width:auto;
		max-width:400px;
		height:auto;
		max-height: 340px;
	}

	.profil, #page-liste-user{
		width:95%;
		font-size: 1em;
		margin:auto;
	}

	.profil h1, #page-liste-user h1{
		font-size:1.4em;
	}
	.profil p{
		margin:auto;
	}
	.profil button{
		width:60%;
		margin:auto;
	}
	#profil-name, #profil-firstname, #profil-mail, #profil-button, #profil-role {
		display: flex;
		flex-direction: column;
		text-align: center;
		margin-bottom: 1em;
	}

	.user_element{
		display: flex;
		flex-direction: column;
	}

	#update-message, #description-update{
		width:95%;
	}
}