.accueil {
	width: 444px;
}

button {
	height: 40px !important;
	margin: 5px !important;
}


/*GENERAL*/

body {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  color: #160453;
}

a {
  text-decoration: none;
}

a:hover {
  color: #a1068d;
  cursor: pointer;
}

button {
  font-size: 0.8em;
  margin-bottom: 1em;
}

/*HEADER*/
.header {
	width: 100%;
  display: flex;
  justify-content: space-between;
	align-items: center;
	
}
header {
	margin-bottom: 50px;
}

.header img {
	width: 400px;
}
.header .header-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
}
.header .header-navigation .nav-item {
  font-size: 1.2em;
}

/* PAGE LOGIN et SIGNUP*/
.logo,
.form-user {
  margin: auto;
}

.form-user {
  background-position: center;
  height: 573px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: right;
}

.form-user h1 {
  text-align: center;
}
#form_login,
#form_signup {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  box-shadow: 0 0 1em black;
	border-radius: 20px;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #6295F7;
  width: 65%;
	padding-bottom: 10px;
}

#form_login button,
#form_signup button,
.btn-commenter {
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}

input {
  width: 50%;
}

#format-password{
  font-size: 0.7em;
}

/* PAGE ACCUEIL */

.profil {
  width: 90%;
  border-radius: 10px;
  background-color: #6295F7 !important;
  text-align: center;
  margin: auto;
  font-size: 1.2em;
	box-shadow: 0 0 1em black;
	border: 1px solid black;
	color: black;
}
.bolder {
	font-weight: bold;
}
.profil p {
  margin-right: 0.5em;
}

.profil button {
  font-size: 0.8em;
  margin-bottom: 1em;
}

#profil-name,
#profil-firstname,
#profil-mail,
#profil-button,
#profil-role {
  display: flex;
  flex-direction: row;
  justify-content: center;
	font-size: 20px;
}
#monPro {
	display: flex;
	justify-content: center;
	color: black;
}
.menu-navigation {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
}
.nav-menu {
  box-shadow: 0 0 1em #e2e2e2;
  width: 520px;
  height: 260px;
  margin: 1em 1em 1em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
}

#menu-intranetwork a {
  color: white;
	font-weight: bold;
}
#menu-intranetwork p {
  visibility: hidden;
  color: white;
	font-weight: bold;
  font-size: 1.6rem;
}

#menu-intranetwork a:hover + p {
  visibility: visible;
}

.logout {
  height: 50px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.8em;
}

#menu-intranetwork {
  background-image: url(images/ImageDetail_fd3463c4-f15b-4991-9353-627cbc4e0274_Medium.jpg);
  background-position: center;
  font-size: 2em;
}

.profil {
  display: none;
  background: #ddd;
}
#voir-profil:target .profil {
  display: block;
}
.masquer-profil {
  display: none;
}
#voir-profil:target .masquer-profil {
  display: inline;
}
#voir-profil:target .voir-profil {
  display: none;
}

/* PAGE INTRAMARKET - INTRANETWORK*/

#page-network {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  background-color: #FCBC89;
  background-position: center;
  margin-left: 2rem;
  margin-right: 2rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding: 10px;
  box-shadow: 0 0 1em #c7c6ca;
  border-radius: 25px;
}
#page-market h1,
#page-network h1,
#fiche-article h1,
#fiche-message h1,
#fiche-commentaire h3,
#page-form-market h1,
#page-form-network h1,
#page-liste-user h1,
#update-form-network h1,
#form-update-market h1 {
  text-align: center;
}
#fiche-commentaire h3 {
  margin-top: 5rem;
  margin-bottom: 1em;
}
#ajout-article,
#ajout-post {
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 3rem;
  box-shadow: 0 0 1em #0c0000;
  width: auto;
}

#liste-article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.box-article {
  box-shadow: 0 0 1em #0c0000;
  background-color: white;
  width: 400px;
  height: 300px;
  margin: 1em 1em 1em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
}

.message {
  background-color: white;
  box-shadow: 0 0 1rem #0c0000;
  border-radius: 10px;
  width: 75%;
  height: auto;
  margin-left: auto;
  margin-top: 1em;
  margin-bottom: 0.5em;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
	align-items: center;
  text-decoration: none !important;
  text-align: center;
	padding: 5px;
	color: black;
}

.image-article {
  max-width: 300px;
  max-height: 200px;
}

.image-network,
#image-single-message img {
  max-width: 98%;
  max-height: 400px;
}

.information_message,
.info-single-message,
.info-single-commentaire {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: start;
  margin-left: 2em;
  font-size: 1rem;
  color: brown;
}

.zone_message,
#titre-single-message,
.texte-single-commentaire {
  margin-right: 1em;
  margin-left: 1em;
  border-top: 1px solid rgba(224, 227, 230, 0.9);
}

#titre-single-message,
.texte-single-commentaire,
.action-button-commentaire {
  margin-top: 0em;
  margin-bottom: 0.5em;
}

.zone_title {
  font-size: 1.5em;
  font-weight: bold;
}
.user_name,
#user-single-message,
.user-single-commentaire {
  margin-right: 2em;
}

/* FICHE ARTICLE - FICHE MESSAGE */

#info_article {
  width: 75%;
  background-color: white;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 1em black;
  text-align: center;
}

#info_message {
  width: 95%;
  background-color: white;
  border-radius: 5px;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 1em black;
  text-align: center;
}

.commentaire {
  width: 85%;
  background-color: #89FC9A;
  border-radius: 5px;
	margin: auto;
  box-shadow: 0 0 1em black;
  text-align: center;
}

#single-message,
#page-form-network {
  background-image: url();
  background-position: center;
}

#img-article,
#img-update-article {
  max-width: 98%;
  max-height: 300px;
}

#img-update-article {
  margin-top: 2em;
}

/* FORMULAIRE ARTICLE - FORMULAIRE MESSAGE */

#form_market,
#form-network,
#form-update-network,
#update-form-market,
#form-commentaire {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  box-shadow: 0 0 1em black;
	border-radius: 20px;
  margin-bottom: 3rem;
  background-color: #FCBC89;
	padding: 20px;
}

#image-market,
#article-nom,
#title-message,
#imageUrl,
#img-update-message {
  width: 60%;
}

#image-update-message,
#image-update-article {
  text-align: center;
}
#description,
#new-message {
  width: 80%;
}

#new-commentaire {
  width: 100%;
}

#prix {
  width: 30%;
}
.form-control {
  border-color: rgba(0, 0, 0, 0.4);
  box-shadow: none;
}
input:invalid,
textarea:invalid,
select:invalid {
  box-shadow: 0 0 1px 0.5px rgb(87, 6, 87);
}

input:focus:invalid {
  outline: none;
}

.cadre {
  width: 70%;
  margin: auto;
}
.form-group {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

#nbre-comment {
  text-align: center;
  color: black;
  margin: auto;
  margin-bottom: 2em;
}

/* LISTE UTILISATEUR */

#page-liste-user {
  margin-left: 2rem;
  margin-right: 2rem;
  box-shadow: 0 0 1em #c7c6ca;
  border-radius: 25px;
  text-align: center;
	background-color: #CFCFCF;
}
.user_element {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
	align-items: center;
  text-align: center;
  margin: auto;
  border-top: 1px solid darkgray;
	color: black;
}


/*FOOTER*/
.footer {
  text-align: center;
  font-size: 1rem;
}
